<%= stylesheet_link_tag 'rails_admin/rails_admin_analytics' %>
<script src='https://www.google.com/jsapi?autoload={"modules":[{"name":"visualization","version":"1"}]}'></script>
<%= javascript_include_tag 'rails_admin/rails_admin_analytics' %>
<script>
  google.setOnLoadCallback(drawVisualization);

  function drawVisualization() {
    <% RailsAdminAnalytics.charts.each do |chart| %>
      new google.visualization.ChartWrapper(<%= chart.to_json.html_safe %>).draw();
     <% end %>
  }
</script>

<% RailsAdminAnalytics.charts.each do |chart| %>
    <div class="row">
        <div class="span12">
            <div class="container-fluid rails_admin_analytics" id="<%= chart[:containerId] %>"></div>
        </div>
    </div>
<% end %>

<script>
  $(".rails_admin_analytics").spin();
</script>