.stat{
    padding-top: 10px;
}

.stat > p {
    height: 100px;
    background-color: white;
    text-align: center;
    line-height: 3em;
    font-size: xx-large;
}

.stat > .well{
    margin-bottom: 0px;
}

#page-visits{
    height: 200px;
    position: relative;
}

#new-visits{
    color: orange;
    position: relative;
}

#page-views{
    color: lightskyblue;
    position: relative;
}

#bounces{
    color: lightcoral;
    position: relative;
}